<!DOCTYPE html>
    <html lang="en">
      <head>
        
      </head>
    <body>
        <header class="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    carlasama
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a routerLink="/home" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">About</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>
                </div>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>
        <div class="box__ghost">
        <main class="main">
            <section class="home">
                <div class="home__container container">
                    <div class="home__data">
                        <span class="home__subtitle">UH OH! You're lost.</span>
                        <h1 class="home__title">Error 404</h1>
                        <p class="home__description">
                          The page you are looking for does not exist. How you got here is a mystery. But you can click the button below to go back to the homepage.
                        </p>
                        <a routerLink="/home" class="home__button">
                            Go Home
                        </a>
                    </div>

                    <div class="home__img">
                        <img src="assets/img/ghost.png" alt="">
                        <div class="home__shadow"></div>
                    </div>
                </div>

                <footer class="home__footer">
                    <span>785-555-0143</span>
                    <span>|</span>
                    <span>carlavxsamaniego@gmail.com</span>
                </footer>
            </section>
        </main>
      </div>
    </body>
</html>

<router-outlet></router-outlet>
